<div class="d-flex flex-column align-items-center justify-content-center container bg-light" style="height:500px">
  <h1 class='text-center'>Log in</h1>
  
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

      <%= f.label :name, class: 'form-label fs-4' %>
      <%= f.text_field :name, class: 'form-control' %>

      <div class="actions btn-group d-flex justify-content-center my-5">
        <%= f.submit "Log in", class: 'btn btn-primary' %>
        <%= link_to 'Back', root_path, class: 'btn btn-warning' %>
      </div>

    <% end %>

</div>