<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, class: 'form-label fs-4' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :text, class: 'form-label fs-4 mt-2' %>
    <%= form.text_area :text, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :image, class: 'form-label fs-4 mt-2' %>
    <%= form.file_field :image, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :category, "Category: ", class: 'form-label fs-4 mt-3' %>
    <%= form.collection_select :category, Category.all, :id, :cat_name, {:prompt=>true}, {:class=>'form-select'} %>
  </div>
  
  <div class="actions btn-group d-flex justify-content-center my-4">
    <%= form.submit "Create article", class: 'btn btn-success' %>
    <%= link_to 'Back', article_path(@article), class: 'btn btn-warning' %>
  </div>
<% end %>
