<% @most_popular = Article.most_popular %>
<div class="art-box-bg feat-art container-fluid d-flex flex-column justify-content-between" style="height: 350px; background-image: url(<%= rails_blob_url(@most_popular.image) %>),
    linear-gradient(351deg, rgba(0,0,0,1) 0%, rgba(130,130,130,0.3981967787114846) 30%);"> 
    <div class="w-auto my-4">
        <%= link_to article_path(@most_popular), class: 'cat-title position-relative pt-1' do %>
            POPULAR
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success ">Votes: <%= @most_popular.votes.count %>
        <% end %>
    </div>
    <div class="justify-self-end pb-2">
        <p class="ps-2"><%= link_to @most_popular.title, article_path(@most_popular), class: 'art-title' %></p>
        <span><%= link_to @most_popular.text[0..199]+'...', article_path(@most_popular), class: 'art-descr' %></span>
    </div>
</div>